.container {
    width: 80%;
    margin: 0 auto;
}

/* Tablet */

@media screen and (max-width: 1400px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 96%;
    }
}